includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#unction GuzzleHttp\\Psr7\\stream_for not found.#'
        - "#Cannot access offset 'x-oss-object-acl' on mixed.#"
        - '#Dead catch - OSS\\Core\\OssException is never thrown in the try block.#'
